PORT=4000

DATABASE_URL=postgresql://reachinbox:reachinbox@localhost:5432/reachinbox

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

ELASTICSEARCH_URL=http://localhost:9200

MAX_EMAILS_PER_HOUR=200
MIN_EMAIL_DELAY_MS=2000
WORKER_CONCURRENCY=5

ETHEREAL_HOST=smtp.ethereal.email
ETHEREAL_PORT=587
ETHEREAL_USER=
ETHEREAL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://localhost:4000/api/auth/google/callback

SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_REDIRECT_URI=http://localhost:4000/api/slack/callback